name: Keep Streamlit App Alive

on:
  schedule:
    # 3시간(180분)마다 한 번씩 실행
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  ping-site:
    runs-on: ubuntu-latest
    
    steps:
      - name: Ping Streamlit App
        # 60초까지 응답 대기
        run: curl -m 60 https://kobata.streamlit.app/ || true